/* Blue Theme */
:root, [data-theme="blue"] {
    --wadah-color: #feffff;
    --border-wadah-color: #c0ced5;

    --main-color: #075985;
    --hover-main-color: #066fa7;
    --border-main-color: #0284c7;
    --contrast-main-color: #075985;

    --main-text: #ffffff;
    --second-text: #a4a6aa;
    --contrast-main-text: #000000;
    --contrast-second-text: #52525b;
    --contrast-third-text: #818187;

    --focus-color: #4f46e5;
    --hover-focus-color: #4338ca;

    --main-table-color: #eff0f1;
    --second-table-color: #ffffff;
    --sub-table-color: #f8fafc;
    --hover-table-color: #bfdbfe99;

    --main-table-trans: #eff0f1a0;
    --second-table-trans: #ffffffa0;
    --sub-table-trans: #f8fafca0;

    --border-table-color: #c4cdd8;

    --main-pop-up-color: #eaedee;
    --hover-pop-up-color: #d6dbdc;
    --second-pop-up-color: #fafeff;
}
.dark, [data-theme="blue"].dark {
    --wadah-color: #17191a;
    --border-wadah-color: #1e343f;

    --main-color: #082f49;
    --hover-main-color: #063e63;
    --border-main-color: #075985;
    --contrast-main-color: #ffffff;

    --main-text: #e0e3e9;
    --second-text: #9297a1;
    --contrast-main-text: #ffffff;
    --contrast-second-text: #b6b6bd;
    --contrast-third-text: #9999a0;

    --focus-color: #6668ec;
    --hover-focus-color: #6059e7;

    --main-table-color: #25292d;
    --second-table-color: #303031;
    --sub-table-color: #2f3235a0;
    --hover-table-color: #37415199;

    --main-table-trans: #25292da0;
    --second-table-trans: #303031a0;
    --sub-table-trans: #2f3235a0;

    --border-table-color: #141a1f;

    --main-pop-up-color: #191a1a;
    --hover-pop-up-color: #252727;
    --second-pop-up-color: #383e3e;
}

/* Purple Theme */
[data-theme="purple"] {
    --wadah-color: #fcfaff;
    --border-wadah-color: #e9d5ff;

    --main-color: #6b21a8;
    --hover-main-color: #7e22ce;
    --border-main-color: #a855f7;
    --contrast-main-color: #581c87;

    --main-text: #ffffff;
    --second-text: #a4a6aa;
    --contrast-main-text: #1e1b4b;
    --contrast-second-text: #6b7280;
    --contrast-third-text: #9ca3af;

    --focus-color: #a855f7;
    --hover-focus-color: #9333ea;

    --main-table-color: #f5f3ff;
    --second-table-color: #ffffff;
    --sub-table-color: #fafafa;

    --main-table-trans: #f5f3ffa0;
    --second-table-trans: #ffffffa0;
    --sub-table-trans: #fafafaa0;
    --hover-table-color: #ede9fe99;

    --border-table-color: #ddd6fe;

    --main-pop-up-color: #f5f3ff;
    --hover-pop-up-color: #ede9fe;
    --second-pop-up-color: #f9f8ff;
}

[data-theme="purple"].dark {
    --wadah-color: #17141a;
    --border-wadah-color: #3b1e3f;

    --main-color: #4c1d95;
    --hover-main-color: #5b21b6;
    --border-main-color: #7c3aed;
    --contrast-main-color: #ffffff;

    --main-text: #e9e0e9;
    --second-text: #a192a1;
    --contrast-main-text: #ffffff;
    --contrast-second-text: #bdb6bd;
    --contrast-third-text: #a099a0;

    --focus-color: #7c3aed;
    --hover-focus-color: #9465e0;

    --main-table-color: #271f27;
    --second-table-color: #2b282b;
    --sub-table-color: #312f35a0;
    --hover-table-color: #4c1d9566;

    --main-table-trans: #271f27a0;
    --second-table-trans: #2b282ba0;
    --sub-table-trans: #312f35a0;

    --border-table-color: #442444;

    --main-pop-up-color: #3b2d3b;
    --hover-pop-up-color: #3c2e3c;
    --second-pop-up-color: #3b343b;
}

/* Red Theme */
[data-theme="red"] {
    --wadah-color: #feffff;
    --border-wadah-color: #e5cbd0;

    --main-color: #991b1b;
    --hover-main-color: #b91c1c;
    --border-main-color: #dc2626;
    --contrast-main-color: #991b1b;

    --main-text: #ffffff;
    --second-text: #a4a6aa;
    --contrast-main-text: #000000;
    --contrast-second-text: #52525b;
    --contrast-third-text: #818187;

    --focus-color: #ea580c;
    --hover-focus-color: #c2410c;

    --main-table-color: #fcf1f1;
    --second-table-color: #ffffff;
    --sub-table-color: #fffafb;

    --main-table-trans: #fcf1f1a0;
    --second-table-trans: #ffffffa0;
    --sub-table-trans: #fffafba0;
    --hover-table-color: #fecaca99;

    --border-table-color: #d8c4c4;

    --main-pop-up-color: #f3eded;
    --hover-pop-up-color: #e9dbdb;
    --second-pop-up-color: #fff6f6;
}
[data-theme="red"].dark {
    --wadah-color: #1a1717;
    --border-wadah-color: #3f1e1e;

    --main-color: #450a0a;
    --hover-main-color: #7f1d1d;
    --border-main-color: #991b1b;
    --contrast-main-color: #ffffff;

    --main-text: #e9e0e0;
    --second-text: #a19292;
    --contrast-main-text: #ffffff;
    --contrast-second-text: #bdb6b6;
    --contrast-third-text: #a09999;

    --focus-color: #fb923c;
    --hover-focus-color: #f97316;

    --main-table-color: #2d2525;
    --second-table-color: #313030;
    --sub-table-color: #352f2fa0;
    --hover-table-color: #7f1d1d66;

    --main-table-trans: #2d2525a0;
    --second-table-trans: #313030a0;
    --sub-table-trans: #352f2fa0;

    --border-table-color: #3c1e1e;

    --main-pop-up-color: #382e2e;
    --hover-pop-up-color: #393030;
    --second-pop-up-color: #383131;
}

/* Green Theme */
[data-theme="green"] {
    --wadah-color: #f6fdf9;
    --border-wadah-color: #c9e7d5;

    --main-color: #065f46;
    --hover-main-color: #059669;
    --border-main-color: #10b981;
    --contrast-main-color: #064e3b;

    --main-text: #ffffff;
    --second-text: #a4a6aa;
    --contrast-main-text: #000000;
    --contrast-second-text: #475569;
    --contrast-third-text: #64748b;

    --focus-color: #10b981;
    --hover-focus-color: #059669;

    --main-table-color: #f0f9f4;
    --second-table-color: #ffffff;
    --sub-table-color: #f8faf9;

    --main-table-trans: #f0f9f4a0;
    --second-table-trans: #ffffffa0;
    --sub-table-trans: #f8faf9a0;
    --hover-table-color: #d1fae599;

    --border-table-color: #c2dcd0;

    --main-pop-up-color: #edf7f2;
    --hover-pop-up-color: #e2f0e9;
    --second-pop-up-color: #f6fffa;
}

[data-theme="green"].dark {
    --wadah-color: #141716;
    --border-wadah-color: #1e3f2d;

    --main-color: #064e3b;
    --hover-main-color: #065f46;
    --border-main-color: #059669;
    --contrast-main-color: #ffffff;

    --main-text: #e0e9e4;
    --second-text: #92a199;
    --contrast-main-text: #ffffff;
    --contrast-second-text: #b6bdb9;
    --contrast-third-text: #99a09d;

    --focus-color: #10b981;
    --hover-focus-color: #199970;

    --main-table-color: #1f2723;
    --second-table-color: #282b2a;
    --sub-table-color: #2f3531a0;
    --hover-table-color: #064e3b66;

    --main-table-trans: #1f2723a0;
    --second-table-trans: #282b2aa0;
    --sub-table-trans: #2f3531a0;

    --border-table-color: #1d3b2d;

    --main-pop-up-color: #293630;
    --hover-pop-up-color: #2a3a32;
    --second-pop-up-color: #333937;
}

/* Amber Theme */
[data-theme="amber"] {
    --wadah-color: #fffdfa;
    --border-wadah-color: #f1e2c4;

    --main-color: #b45309;
    --hover-main-color: #d97706;
    --border-main-color: #f59e0b;
    --contrast-main-color: #92400e;

    --main-text: #ffffff;
    --second-text: #a4a6aa;
    --contrast-main-text: #000000;
    --contrast-second-text: #52525b;
    --contrast-third-text: #818187;

    --focus-color: #dc2626;
    --hover-focus-color: #d43c3c;

    --main-table-color: #fff9eb;
    --second-table-color: #ffffff;
    --sub-table-color: #fffdf7;

    --main-table-trans: #fff9eba0;
    --second-table-trans: #ffffffa0;
    --sub-table-trans: #fffdf7a0;
    --hover-table-color: #fef3c799;

    --border-table-color: #eaddc1;

    --main-pop-up-color: #f8f3e9;
    --hover-pop-up-color: #f1ead8;
    --second-pop-up-color: #fffdf8;
}

[data-theme="amber"].dark {
    --wadah-color: #171614;
    --border-wadah-color: #3b2a1a;

    --main-color: #451a03;
    --hover-main-color: #78350f;
    --border-main-color: #92400e;
    --contrast-main-color: #ffffff;

    --main-text: #eee7e0;
    --second-text: #a19792;
    --contrast-main-text: #ffffff;
    --contrast-second-text: #bdb9b6;
    --contrast-third-text: #a09d99;

    --focus-color: #ef4444;
    --hover-focus-color: #dc2626;

    --main-table-color: #27231f;
    --second-table-color: #2b2a28;
    --sub-table-color: #35312fa0;
    --hover-table-color: #78350f66;

    --main-table-trans: #27231fa0;
    --second-table-trans: #2b2a28a0;
    --sub-table-trans: #35312fa0;

    --border-table-color: #3c2c24;

    --main-pop-up-color: #342c25;
    --hover-pop-up-color: #3a332d;
    --second-pop-up-color: #39332f;
}

/* Pink Theme */
[data-theme="pink"] {
    --wadah-color: #fffafb;
    --border-wadah-color: #fce7f3;

    --main-color: #be185d; /* Pink 700 */
    --hover-main-color: #db2777;
    --border-main-color: #f472b6;
    --contrast-main-color: #9d174d;

    --main-text: #ffffff;
    --second-text: #a4a6aa;
    --contrast-main-text: #000000;
    --contrast-second-text: #701a75;
    --contrast-third-text: #a21caf;

    --focus-color: #db2777;
    --hover-focus-color: #be185d;

    --main-table-color: #fff1f2;
    --second-table-color: #ffffff;
    --sub-table-color: #fffafb;

    --main-table-trans: #fff1f2a0;
    --second-table-trans: #ffffffa0;
    --sub-table-trans: #fffafba0;
    --hover-table-color: #fce7f3cc;

    --border-table-color: #fbcfe8;

    --main-pop-up-color: #fff1f2;
    --hover-pop-up-color: #ffe4e6;
    --second-pop-up-color: #fff5f6;
}

[data-theme="pink"].dark {
    --wadah-color: #1a1012;
    --border-wadah-color: #3f1e25;

    --main-color: #4c0519;
    --hover-main-color: #831843;
    --border-main-color: #be185d;
    --contrast-main-color: #ffffff;

    --main-text: #f9ecef;
    --second-text: #a19295;
    --contrast-main-text: #ffffff;
    --contrast-second-text: #bdb6b8;
    --contrast-third-text: #a0999a;

    --focus-color: #f472b6;
    --hover-focus-color: #ec4899;

    --main-table-color: #2d1b1e;
    --second-table-color: #1a1012;
    --sub-table-color: #271619a0;
    --hover-table-color: #4c051966;

    --main-table-trans: #2d1b1ea0;
    --second-table-trans: #1a1012a0;
    --sub-table-trans: #271619a0;

    --border-table-color: #3d2428;

    --main-pop-up-color: #351a1f;
    --hover-pop-up-color: #3f1e24;
    --second-pop-up-color: #322b2c;
}


/* Navy Theme */
[data-theme="navy"] {
    --wadah-color: #f8fafc;
    --border-wadah-color: #e2e8f0;

    --main-color: #334155;
    --hover-main-color: #475569;
    --border-main-color: #64748b;
    --contrast-main-color: #1e293b;

    --main-text: #ffffff;
    --second-text: #94a3b8;
    --contrast-main-text: #0f172a;
    --contrast-second-text: #475569;
    --contrast-third-text: #94a3b8;

    --focus-color: #334155;
    --hover-focus-color: #1e293b;

    --main-table-color: #f1f5f9;
    --second-table-color: #ffffff;
    --sub-table-color: #f8fafc;

    --main-table-trans: #f1f5f9a0;
    --second-table-trans: #ffffffa0;
    --sub-table-trans: #f8fafca0;
    --hover-table-color: #e2e8f0cc;

    --border-table-color: #cbd5e1;

    --main-pop-up-color: #f1f5f9;
    --hover-pop-up-color: #e2e8f0;
    --second-pop-up-color: #f4faff;
}

[data-theme="navy"].dark {
    --wadah-color: #161a22;
    --border-wadah-color: #1e293b;

    --main-color: #1e293b;
    --hover-main-color: #334155;
    --border-main-color: #475569;
    --contrast-main-color: #ffffff;

    --main-text: #f1f5f9;
    --second-text: #94a3b8;
    --contrast-main-text: #ffffff;
    --contrast-second-text: #94a3b8;
    --contrast-third-text: #64748b;

    --focus-color: #a1b3cc;
    --hover-focus-color: #b8c6d9;

    --main-table-color: #1f2837;
    --second-table-color: #0f172a;
    --sub-table-color: #1e293b;
    --hover-table-color: #33415566;

    --main-table-trans: #1e293ba0;
    --second-table-trans: #0f172aa0;
    --sub-table-trans: #1e293ba0;

    --border-table-color: #3d4d67;

    --main-pop-up-color: #1e2b49;
    --hover-pop-up-color: #304058;
    --second-pop-up-color: #282d36;
}


/* Brown Theme */
[data-theme="brown"] {
    --wadah-color: #fdfaf7;
    --border-wadah-color: #ede0d4;

    --main-color: #5d4037;
    --hover-main-color: #795548;
    --border-main-color: #a1887f;
    --contrast-main-color: #3e2723;

    --main-text: #ffffff;
    --second-text: #a4a6aa;
    --contrast-main-text: #2d1b16;
    --contrast-second-text: #5d4037;
    --contrast-third-text: #8d6e63;

    --focus-color: #8d6e63;
    --hover-focus-color: #5d4037;

    --main-table-color: #f5ece5;
    --second-table-color: #ffffff;
    --sub-table-color: #fdfaf7;

    --main-table-trans: #f5ece5a0;
    --second-table-trans: #ffffffa0;
    --sub-table-trans: #fdfaf7a0;
    --hover-table-color: #ede0d4cc;

    --border-table-color: #d7ccc8;

    --main-pop-up-color: #f5f0eb;
    --hover-pop-up-color: #eaddd3;
    --second-pop-up-color: #fffaf5;
}

[data-theme="brown"].dark {
    --wadah-color: #1a1715;
    --border-wadah-color: #352a22;

    --main-color: #2b1e16;
    --hover-main-color: #3e2723;
    --border-main-color: #5d4037;
    --contrast-main-color: #ffffff;

    --main-text: #e9e5e0;
    --second-text: #a19a92;
    --contrast-main-text: #ffffff;
    --contrast-second-text: #bdb9b6;
    --contrast-third-text: #a09d99;

    --focus-color: #b69d95;
    --hover-focus-color: #ae978f;

    --main-table-color: #27211e;
    --second-table-color: #1a1715;
    --sub-table-color: #2d2621a0;
    --hover-table-color: #3e272366;

    --main-table-trans: #27211ea0;
    --second-table-trans: #1a1715a0;
    --sub-table-trans: #2d2621a0;

    --border-table-color: #483934;

    --main-pop-up-color: #332e2b;
    --hover-pop-up-color: #413d3a;
    --second-pop-up-color: #2a2725;
}


/* Black Theme */
[data-theme="black"] {
    --wadah-color: #fafafa;
    --border-wadah-color: #d4d4d4;

    --main-color: #171717;
    --hover-main-color: #262626;
    --border-main-color: #404040;
    --contrast-main-color: #000000;

    --main-text: #ffffff;
    --second-text: #919090;
    --contrast-main-text: #000000;
    --contrast-second-text: #404040;
    --contrast-third-text: #a3a3a3;

    --focus-color: #171717;
    --hover-focus-color: #000000;

    --main-table-color: #f5f5f5;
    --second-table-color: #ffffff;
    --sub-table-color: #fafafa;

    --main-table-trans: #f5f5f5a0;
    --second-table-trans: #ffffffa0;
    --sub-table-trans: #fafafaa0;
    --hover-table-color: #e5e5e5cc;

    --border-table-color: #d4d4d4;

    --main-pop-up-color: #f5f5f5;
    --hover-pop-up-color: #e5e5e5;
    --second-pop-up-color: #efefef;
}

[data-theme="black"].dark {
    --wadah-color: #0a0a0a;
    --border-wadah-color: #262626;

    --main-color: #171717;
    --hover-main-color: #262626;
    --border-main-color: #404040;
    --contrast-main-color: #ffffff;

    --main-text: #f5f5f5;
    --second-text: #a3a3a3;
    --contrast-main-text: #ffffff;
    --contrast-second-text: #d4d4d4;
    --contrast-third-text: #737373;

    --focus-color: #a2a2a2;
    --hover-focus-color: #9f9f9f;

    --main-table-color: #171717;
    --second-table-color: #0a0a0a;
    --sub-table-color: #171717;
    --hover-table-color: #26262666;

    --main-table-trans: #171717a0;
    --second-table-trans: #0a0a0aa0;
    --sub-table-trans: #171717a0;

    --border-table-color: #535252;

    --main-pop-up-color: #282828;
    --hover-pop-up-color: #414141;
    --second-pop-up-color: #4c4c4c;
}